body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
   
}

body {
    display: inline-block;
    width: 100%;
    font-family: MyLivvic;
    
   

    }

    .photo-bin{
        display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0;
          height: 150px;
          width: 150px;
        img{
          max-width: 80%;
          max-height: 80%;
        }
      }
      .content {
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .rating{
        float: right;
        
    }
    

    .login-container {
        background-color: rgba(244, 241, 220, 0.5);
        width: 400px;
        border-radius: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
    .row{
        padding: 12px;
    }
    
        
    }
    .login{
        margin: 15px;
    } 
      .login div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
      }
      .login-container button {
        
        background-color: rgba(251, 250, 240, 0.5);
        display: flex;
        width: 100%;
        justify-content: center;
      }
      .modal {
        display: block;
        background-color: rgba(244, 241, 220, 0.5);
      }