body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
   
}

body {
    display: inline-block;
    width: 100%;
    font-family: MyLivvic;
    
   

    }

    .photo-bin{
        display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0;
          height: 150px;
          width: 150px;
        img{
          max-width: 80%;
          max-height: 80%;
        }
      }
      .content {
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .rating{
        float: right;
        
    }

    // .login-container {
    //     display: flex;
    //    max-width: 800px;
    //    max-height: 100vh;
    //     h2 {
    //       margin-bottom: 20px;
          
    //     }
    //     .login-form {
    //       display: grid;
    //       margin-left: calc(50% - 250px);
    //       width: 800px;
    //       padding: 25px 40px 50px;
    //       background-color: rgba(154, 237, 134, 0.938);
    //       border-radius: 10px;
    //       color: #161515;
    //     }
    //     .input {
    //       padding: 12px 16px;
    //       border-radius: 5px;
    //       width: 100%;
    //       border: none;
    //       background-color: #f6f9f8;
    //       outline-style: none;
    //       margin-bottom: 20px;
    //     }
    //     .buttons {
    //       width: 100%;
    //     }
    //   }

      .modal {
        display: block;
        background-color: rgba(4, 202, 166, 0.5);
      }